<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<head>
		<meta charset="UTF-8">
		<title>Employee Managemnet System</title>
	</head>
	<body >
		<div class="container my-2" >
			<h1>Employees List</h1>
			<br><a th:href="@{/showNewEmployeeForm}" class="btn btn-primary btn-sm mb-3">Add Employee</a><br>
			<table border="1" class="table table-striped table-responsive-md">
				<thead>
					<tr>
						<th>Employee First Name</th>
						<th>Employee Last Name</th>
						<th>Employee Email</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="employee : ${listEmployees}">
						<td th:text="${employee.firstName}"></td>
						<td th:text="${employee.lastName}"></td>
						<td th:text="${employee.email}"></td>
						<th><a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}" class="btn btn-primary btn-sm mb-3">Update</a>	
						<a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger btn-sm mb-3">Delete</a></th>	
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>